<div>

<h4>About Page</h4>
<p>
  {{link-to 'About Index' 'about.index' class="btn btn-default"}}
  <span>|</span>
  {{link-to 'People Page' 'about.people' class="btn btn-default"}}
</p>

{{#if secretShown}}
<p id="secret2"><strong>SECRET SHOWN</strong></p>
{{/if}}
{{outlet}}
</div>
