<div class="container">
  <h2 id="title">Welcome to Ember</h2>
  <div class="panel">
    <p>
      {{link-to 'Home Page' 'index' class="btn btn-default"}}
      <span>|</span>
      {{#link-to 'about' class="btn btn-default"}}
        About Page
      {{/link-to}}
      <span>|</span>
      {{link-to 'People Page' 'about.people' class="btn btn-default"}}
    </p>

    {{outlet}}
  </div>
</div>
