<div class="container">
  <h2 id="title">Welcome to Ember</h2>
  <div class="container">
    <p>
      {{link-to 'Home Page' 'index' class="btn btn-default"}}
      <span>|</span>
      {{#link-to 'about' class="btn btn-default"}}
        About Page
      {{/link-to}}
    </p>

    {{outlet}}
  </div>
</div>
<div class="footer">
  <div class="container">
    <p class="text-muted">Sticky footer content</p>
  </div>
</div>
